{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 150,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 150,
        "explicitTypes": "always"
      }
    }
  ]
}
